.wrap {
  padding: 8px;
  overflow: hidden;
}
.derectionL {
  float: left;
  padding-right: 4px;
}
.derectionR {
  float: right;
  padding-left: 4px;
}
.left {
  box-sizing: content-box;
  vertical-align: top;
}
.headPortrait {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.right {
  background-color: red;
  margin: 0 44px;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}
.right img {
  width: 100%;
}
