@height: 40px;
@padding: 4px;
.wrap {
    padding: 8px;
    overflow: hidden;
}
.derectionL {
    float: left;
    padding-right: @padding;
}
.derectionR {
    float: right;
    padding-left: @padding;
}
.left {
    box-sizing: content-box;
    vertical-align: top;
}
.headPortrait {
    border-radius: 50%;
    width: @height;
    height: @height;
}
.right {
    // float: left;
    background-color: red;
    margin: 0 (@height + @padding);
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    img {
        width: 100%;
    }
}