.wrap {
  padding: 8px;
  overflow: hidden;
}
.derectionL {
  float: left;
  padding-right: 4px;
}
.derectionR {
  float: right;
  padding-left: 4px;
}
.left {
  box-sizing: content-box;
  vertical-align: top;
}
.headPortrait {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.right {
  padding-top: 0;
  margin: 0 40px;
  display: flex;
  align-items: flex-end;
}
.right .text {
  background-color: #7883ff;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px;
}
.right .text img {
  width: 100%;
}
.right .status {
  flex-shrink: 0;
  color: #1eb01e;
  font-size: 10px;
  margin: 0 4px;
}
.rightR {
  justify-content: flex-end;
}
.orderR {
  order: -1;
}
