.header {
  height: 40px;
  padding: 0 ;
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  color: white;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  background: linear-gradient(to right, #2176ed, #68aaf4);
}
.header svg:hover {
  cursor: pointer;
}
.title {
  justify-self: center;
  margin-left: -40px;
}
