.header {
  height: 40px;
  padding: 0 ;
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  color: white;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
}
.title {
  justify-self: center;
  margin-left: -40px;
}
