.wrap {
  display: flex;
  padding: 8px 15px;
  text-decoration: none;
  color: black;
}
.left {
  width: 40px;
  text-align: center;
}
.right {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
