.wrap {
  height: 50px;
  margin: 10px;
}
.left {
  display: inline-block;
  height: 100%;
  width: 44px;
  padding: calc((50px - 44px) / 2) 0;
  vertical-align: top;
}
.left img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: fill;
}
.right {
  display: inline-block;
  margin-left: 10px;
  height: 100%;
  width: calc(100% - 44px - 10px);
  line-height: 50px;
}
